* {
    box-sizing: border-box;
}
body, html {
    margin:0;
    padding:0;
}
.grid-container {
    padding: 10px;
    height: 100vh;
    background-color: #ddd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; 
}
.grid-item {
    background-color: #8ed0da;
    padding: 10px;
}
.grid-item:nth-child(even) {
    background-color: #aedc7e; 
}

#grid-header {
    grid-column: 1 / -1;
}

#grid-it2 {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}


#grid-it3 {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

#grid-it4 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#grid-it5 {
    grid-row: 3 / 4;
    grid-column: 3 / 4; 
}

